sudo: reqiured
services:
    - docker

before_install:
    - docker build -t sumit2506/docker-react -f Dockerfile.dev .

script:
    - docker run sumit2506/docker-react npm test -- --coverag

deploy:
    provider: elasticbeanstalk
    region: "us-east-1"
    app: Docker-react
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-us-east-1-046195864051"
    bucket_path: "Docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
        secure: "$AWS_SECRET_KEY"